/* MOBILE */
:root {
  /* Fonts */
  --sans-serif-font: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  --serif-font: 'Vollkorn', Georgia, serif;

  /* Basic Colors */
  --black: #000;
  --white: #fff;
  --gray: #ccc;

  /* Primary Colors */
  --primary-color-blue: rgb(4, 30, 66);
  --primary-color-gray: rgb(99, 102, 106);
  --primary-color-gray-light: rgba(99, 102, 106, 0.2);

  /* Secondary Colors */
  --pantone-280: rgb(1, 33, 105);
  --pantone-293: rgb(0, 61, 165);
  --cool-gray-4: rgb(187, 188, 188);
  --pantone-7527: rgb(214, 210, 196);

  /* Tertiary Colors */
  --pantone-306: rgb(0, 181, 226);
  --pantone-202: rgb(134, 38, 51);
  --pantone-369: rgb(100, 167, 11);
  --pantone-199: rgb(213, 0, 50);
  --pantone-1205: rgb(248, 224, 142);

  --xl3-text: 3.5rem;
  --xl-text: 2.4rem;
  --h1-heading: 3.2rem;
  --h2-heading: 3rem;
  --h3-heading: 2.8rem;
  --h4-heading: 2.6rem;
  --h5-heading: 2.4rem;
  --normal-text: 2rem;
  --large-text: 2.2rem;
}

/* TABLET */
/* @media (min-width: 700px) {
  :root {
    --xl3-text: 3.3rem;
    --xl-text: 2.6rem;
    --h1-heading: 1.8rem;
    --h2-heading: 1.4rem;
    --h3-heading: 1.2rem;
    --sub-heading: 1rem;
    --small-text: 0.9rem;
    --big-text: 1.15rem;
    --post-line-height: 1.6rem;
    --post-vertical-spacer: 0 0 1rem;
    --text-vertical-spacer: 6px 0 3px;
  }
} */

/* DESKTOP */
@media (min-width: 1280px) {
  :root {
    --xl3-text: 3.5rem;
    --xl-text: 2.4rem;
    --h1-heading: 3.2rem;
    --h2-heading: 2.8rem;
    --h3-heading: 2.6rem;
    --h4-heading: 2.4rem;
    --h5-heading: 2.2rem;
    --normal-text: 1.8rem;
    --large-text: 2rem;
  }
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 100;
}

h1 {
  font-size: var(--h1-heading);
  font-family: var(--serif-font);
}

h2 {
  font-size: var(--h2-heading);
  font-family: var(--serif-font);
}

h3 {
  font-size: var(--h3-heading);
  font-family: var(--serif-font);
}

h4 {
  font-size: var(--h4-heading);
  font-family: var(--serif-font);
}

h5 {
  font-size: var(--h5-heading);
  font-family: var(--serif-font);
}

p,
a {
  font-size: var(--normal-text);
  font-family: var(--sans-serif-font);
}

/* HEADER */
.top-header {
  /* height: 6rem; */
  border-bottom: var(--primary-color-gray-light) solid 1px;
}

.top-header-nav {
  margin: 1rem auto 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 1280px) {
  .top-header-nav {
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: var(--primary-color-gray-light) solid 1px;
}

@media (min-width: 1280px) {
  .logo {
    padding-bottom: 0;
    width: auto;
    border-bottom: 0;
  }
}

.logo a {
  height: auto;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1280px) {
  .logo a {
    height: 6rem;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
}

.logo > * {
  display: inline-block;
}

.logo a:link,
.logo a:visited {
  color: var(--black);
  transition: all 0.2s ease-out;
}
.logo a:hover,
.logo a:active {
  color: var(--pantone-199);
  transition: all 0.3s ease-out;
}

.logo img {
  height: 100px;
  width: auto;
  padding: 0.75rem;
}

@media (min-width: 1280px) {
  .logo img {
    height: 100%;
    width: auto;
    padding: 0.5rem;
  }

  .logo a img {
    transition: transform 0.2s ease-out;
  }

  .logo a:hover img {
    transform: translateY(-1.5px);
  }
}

.logo h2 {
  font-weight: bold;
}

/* NAVIGATION LINKS */
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 1280px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }
}

.navigation a {
  font-weight: bold;
  text-decoration: none;
  font-size: var(--large-text);
  /* padding: 2rem; */
}

.navigation a:link,
.navigation a:visited {
  color: var(--primary-color-blue);
  transition: all 0.2s ease-out;
}

.navigation a:hover,
.navigation a:active {
  color: var(--pantone-202);
  /* background-color: var(--pantone-202); */
  transition: all 0.2s ease-in;
}

/* html {
  animation: none !important;
} */
