:root {
  /* Fonts */
  --sans-serif-font: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  --serif-font: 'Vollkorn', Georgia, serif;

  /* Basic Colors */
  --black: #000;
  --white: #fff;
  --gray: #ccc;

  /* Primary Colors */
  --primary-color-blue: rgb(4, 30, 66);
  --primary-color-gray: rgb(99, 102, 106);
  --primary-color-gray-light: rgba(99, 102, 106, 0.2);

  /* Secondary Colors */
  --pantone-280: rgb(1, 33, 105);
  --pantone-293: rgb(0, 61, 165);
  --cool-gray-4: rgb(187, 188, 188);
  --pantone-7527: rgb(214, 210, 196);

  /* Tertiary Colors */
  --pantone-306: rgb(0, 181, 226);
  --pantone-202: rgb(134, 38, 51);
  --pantone-369: rgb(100, 167, 11);
  --pantone-199: rgb(213, 0, 50);
  --pantone-1205: rgb(248, 224, 142);

  /* Text Sizing */
  --xl3-text: 3.5rem;
  --xl-text: 2.4rem;
  --h1-heading: 3.2rem;
  --h2-heading: 3rem;
  --h3-heading: 2.8rem;
  --h4-heading: 2.6rem;
  --h5-heading: 2.4rem;
  --h5-heading: 2.2rem;
  --normal-text: 2rem;
  --large-text: 2.2rem;
}

@media (min-width: 1280px) {
  :root {
    --xl3-text: 3.5rem;
    --xl-text: 2.4rem;
    --h1-heading: 3.2rem;
    --h2-heading: 2.8rem;
    --h3-heading: 2.6rem;
    --h4-heading: 2.4rem;
    --h5-heading: 2.2rem;
    --normal-text: 1.8rem;
    --large-text: 2rem;
  }
}

/* Global Styles */
h1 {
  font-size: var(--h1-heading);
  font-family: var(--serif-font);
}

h2 {
  font-size: var(--h2-heading);
  font-family: var(--serif-font);
}

h3 {
  font-size: var(--h3-heading);
  font-family: var(--serif-font);
}

h4 {
  font-size: var(--h4-heading);
  font-family: var(--serif-font);
}

h5 {
  font-size: var(--h5-heading);
  font-family: var(--serif-font);
}

h6 {
  font-size: var(--h6-heading);
  font-family: var(--serif-font);
}

p,
a {
  font-size: var(--normal-text);
  font-family: var(--sans-serif-font);
}

.site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-container > * {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1200px) minmax(
      2rem,
      1fr
    );
}

.site-container header {
  border-bottom: var(--gray) solid 1px;
}

nav {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 1200px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo .logo-image {
  height: auto;
  width: 10rem;
  padding: 0.5rem;
}

.site-container main {
  flex: 1;
}

.site-container main .main-section {
  grid-column: 2 /3;
}

.site-container footer {
}
